
/*--------styles [background image]--------*/
body{
	background-image: url("../images/background.png");
	margin: 0;
}
/*--------end of [background image] styling--------*/


/*--------styles [header]--------*/
#header {
	width:100%;
	height:80px;
	position:fixed;
	background-color:#ffffff;
	border:2px solid #eee;
	font-family:'Georgia', Times, serif;
}
/*----styles (name tag)----*/
h1 {
	float:left;
	display:inline;
	padding:25px 10px;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-size:32px;
	font-weight:bold;
	position:absolute;
	left:100px;
	background-color:#cc5500;
	color:#ffffff;
}
/*----styles (nav bar)----*/
#nav {
	left:800px;
	top:30px;
	display:inline;
	position:absolute;
	
}
a {
	text-decoration:none;
	color:#cc5500
}
li {
	float:left;
	display:inline;
	padding-right:5px;
	padding-left:5px;
}
#about_nav {
	border-right:2px solid #dddddd;
}
#portfolio_nav {
	border-right:2px solid #dddddd;
}
/*--------end of [header] styling--------*/


/*--------styles [main content]--------*/

/*----styles (About,Portfolio & Contact-main content)----*/
#main_content {
	float:left;
	position:relative;
	z-index: -1;
	margin-top:120px;
	margin-left:100px;
	margin-bottom:40px;
	padding-bottom:20px;
	background-color:#ffffff;
	border:2px solid #dddddd;
	width:650px;
	height:auto;
	display:inline-block;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h2 {
	border-bottom:2px solid #ccc;
	width:600px;
	margin-left:20px;
	margin-bottom: 20px;
	padding:20px 0px;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-weight: bold;
	font-size:32px;
	color:#cc5500;
}

/*----styles (About page only-main content)----*/
#profilepic {
	float:left;
	height:150px;
	width:150px;
	margin-left:20px;
	margin-right:20px;
}

p {
	margin-left:20px;
	margin-right:20px;
	line-height: 2;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/*----styles (Portfolio page only) main content----*/
.portfolio_image {
	padding:20px;
	margin:20px;
}
#portfolio_images {
	margin-left:20px;
}

/*----styles (Contact page only) main content----*/
form {
	margin-left:20px;
	margin-bottom:20px;
}
h5 {
	margin-bottom:5px;
	opacity:.65;
}
textarea {
	width:600px;
	height:150px;
}
.formInfo {
	width:600px;
	height:20px;
}
#Submit {
	background-color:#cc5500;
	color:#ffffff;
	padding:10px 20px;
	margin-top:20px;
}
/*--------end of [main content styling]--------*/

/*--------styles [sidebar]--------*/
#sidebar {
	background-color:#ffffff;
	border:2px solid #dddddd;
	width:270px;
	height:200px;
	margin-top:120px;
	margin-left:790px;
	position:fixed;
	display:inline-block;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.icon {
	height:65px;
	width:65px;
}
#github {
	position:absolute;
	left:30px;
	bottom:30px;

}
#stackoverflow {
	position:absolute;
	right:102px;
	bottom:30px;
}

#linkedin {
	position:absolute;
	right:30px;
	bottom:30px;
}

h3 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-weight:bold;
	font-size:24px;
	padding:30px 0px;
	border-bottom: 2px solid #ccc;
	margin-left:30px;
	color:#cc5500;
}
/*--------end of [sidebar] styling--------*/

/*--------styles [footer]--------*/
#footer {
	background-color:#968c81;
	width:100%;
	height:80px;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	border-top:5px solid #cc5500;
}

/*----styles (copywright)----*/
h4 {
	color:#cc5500;
	font-size:12px;
	text-align:center;
	margin-top:30px;

}
/*----(sticky footer)----*/
.site {
	display:flex;
	min-height: 100vh;
	flex-direction: column;
}

#main_content {
	flex: 1;
}
/*end of (sticky footer) styling----*/
/*--------end of [footer] styling--------*/







